@model Data.tblAccessory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/VHNBackend/Views/Shared/_Layout.cshtml";
}


<br />
<h3 class="text-center">NHỮNG DỮ LIỆU NÀY SẼ BỊ XOÁ !</h3>
<div>
    <hr />
    <div class="container">
        <div class="card-header border-0 ui-sortable-handle bg-gradient-danger" style="cursor: move;">
            <h3 class="card-title">
                <i class="fas fa-th mr-1"></i>
                xoá <strong>@Html.DisplayFor(model => model.Tenlinhkien)</strong> khỏi DATABASE
            </h3>

            <div class="card-tools">
                <button type="button" class="btn bg-secondary btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn bg-secondary btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card bg-gradient-danger">
            <div class="d-flex flex-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Tên linh kiện</label>
                    <div>
                        @Html.EditorFor(model => model.Tenlinhkien, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <label class="control-label pt-2">Loại</label>
                    <div>
                        @Html.EditorFor(model => model.Loai, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <label class="control-label pt-2">Giá nhập (VNĐ)</label>
                    <div>
                        @Html.EditorFor(model => model.Gianhap, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <label class="control-label pt-2">Giá bán (VNĐ)</label>
                    <div>
                        @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="control-label pt-2">
                        <label class="control-label pt-2">Số lượng</label>
                        @Html.EditorFor(model => model.Soluong, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div>
                        <label class="control-label">Hình ảnh</label>
                        <img src="@Url.Content(Model.Hinhanh)" class="img-fluid rounded mx-auto d-block" alt="Hoainaminz" style="max-height:365px;">
                    </div>
                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="d-flex col-md-12 justify-content-center">
                <input type="submit" value="     Xoá     " class="btn btn-danger btn-lg mx-2" />
                <a href="@Url.Action("Index", "Accessories")" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Danh sách tài khoản</a>
            </div>
        </div>
    }
</div>
